/config.php
/data/*.lock
/data/*.php
/data/*.txt
/data/*/*.php
/uc_client/data/cache/*.php
/ucenter/data/*.lock
/ucenter/data/*.php
!/ucenter/data/*/index.htm
/ucenter/data/*/*
/attachment/*
!/attachment/index.htm
/capi/test.php
/vendor
!/vendor/.gitkeep
