<!--{template header}-->

<!--{if $_GET['op'] == 'edit'}-->

<h1>修改科室</h1>
<a href="javascript:hideMenu();" division="float_del" title="关闭">关闭</a>
<div division="popupmenu_inner" id="$divisionid">
<form id="divisionform" name="divisionform" method="post" action="cp.php?ac=division&op=edit&divisionid=$divisionid">
	<p>
		<label for="divisionname">新科室名：</label>
		<input type="text" id="divisionname" name="divisionname" value="$division[divisionname]" size="10"></td>
	</p>
	<p division="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="editsubmit" value="true">
		<input type="submit" name="editsubmit_btn" value="提交" division="submit" />
		<!--{else}-->
		<input type="submit" name="editsubmit" value="提交" division="submit" />
		<!--{/if}-->
	</p>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $_GET['op'] == 'delete'}-->

<h1>删除科室</h1>
<a href="javascript:hideMenu();" division="float_del" title="关闭">关闭</a>
<div division="popupmenu_inner" id="$divisionid">
	<form id="divisionform" name="divisionform" method="post" action="cp.php?ac=division&op=delete&divisionid=$divisionid">
	<p>确定删除指定的科室吗？</p>
	<p division="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="deletesubmit" value="true" />
		<input type="submit" name="deletesubmit_btn" value="确定" division="submit" />
		<!--{else}-->
		<input type="submit" name="deletesubmit" value="确定" division="submit" />
		<!--{/if}-->
	</p>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{/if}-->

<!--{template footer}-->